<li>
  <h3><%= food.name %></h3>
  <p>
    Per 100 grams <br>
    Calories: <%= food.calories %><br>
    Carbohydrtates: <%= food.carbohydrate %><br>
    Protein: <%= food.protein %><br>
    Fat: <%= food.fat %><br>
    Categories: <%= food.category %>
  </p>
</li>