<li>
  <h3><%= link_to food.name, food_path(food) %></h3>
  <p>
    Per 100 grams <br>
    Calories: <%= food.calories %><br>
    Carbohydrtates: <%= food.carbohydrate %><br>
    Protein: <%= food.protein %><br>
    Fat: <%= food.fat %><br>
    Categories: <%= food.categories %>
  </p>
</li>