<%= form_for(@food) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :calories %>
    <%= f.number_field :calories %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate %>
    <%= f.number_field :carbohydrate %>
  </div>
  <div class="field">
    <%= f.label :protein %>
    <%= f.number_field :protein %>
  </div>
  <div class="field">
    <%= f.label :fat %>
    <%= f.number_field :fat %>
  </div>
  <div class="field">
    <%= f.label :categories %>
    <%= f.text_field :categories %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>