<!DOCTYPE html>
<html>
  <head>
    <title>MyFood</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <nav>
      <%= link_to "Home", root_url %>
      <%= link_to "Food", foods_path %>
      <%= link_to "Add food item", new_food_path %>
      <%= link_to "Lists", lists_path %>
    </nav>

    <%= yield %>

  </body>
</html>
